[Desktop Entry]
Name=YT Downloader
Exec=yt-dlr
Icon=/usr/share/icons/hicolor/512x512/apps/yt-dlr.png
Type=Application
Comment=A Simple Gui Youtube Downloader Using Yt-Dlp And Pyqt5
Categories=AudioVideo;Utility;Internet;
